
* {
 background-color: #EFEFEF;
}

body{
  font-family: 'Inter', sans-serif;
}

html,
body,
body>div,
.app {
  height: 100%;
}

textarea {
  background-color: #FFF;
  box-shadow: -10px 14px 4px rgba(0, 0, 0, 0.25);
  resize: none;
  height: 300px;;
  width: 400px;
  border-radius: 5px;
  outline: none;
  border-style: none;
    font-family: 'Inter', sans-serif;
  padding: 50px;
  margin-top: 5%;
}

button {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.link {
  text-decoration: none;
}

@media all and (max-width:540px) {

  textarea  {
    height: 200px;
    width: 200px;
  }



}

